html{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth; 
}

body{
    margin:0;
    
}

.main-section{
    /* background-image: url(Images/whitebgbluehexa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top; */
}


/*-----------------Navigation bar---------------*/

.main-nav-container{
    display:flex;
    justify-content: space-between;
    margin:0;
    list-style:none;
    font-size: 1.2em;
    height: 10%;
    background-color: #005686;
    /* width:80%; */
}

.main-nav-container > li{
    /* padding: 20px;
    border-bottom: 2px solid #2F4960; */
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 2em;  
    padding-top: 20px; 
    color: white;
}

li > a{
    font-size: 1.5em;
    color: white;
    text-decoration: none;
}

#labsnav{
    text-align: center;
    /* height: 3vh; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin-top: 2vh;
    margin-right: 2vw;
    /* background-color:#239de8 ;
    border: 1px solid #239de8; */
}



@media only screen and (max-width: 500px) {
    .main-nav-container{
        font-size: 0.4em;
        
    }

    .main-container > .logo{
        height: 10vh;
        width: 10vh;
    }

    
    .programBtn > button{
        width: auto;
    }

    

}

.main-nav-container > li>a:hover{
    color: #239de8;
}


/* ----------End of Navigation bar----- */
/*index.html*/

/*-----------------Title---------------*/

.title{
    
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: #F7F9FB;
}


.main-container{
    display: flex;
    flex-direction: column;
    align-items: center; 
}


.main-container > .logo{
    background-image: url(Images/cat_logo.png);
    height: 260px;
    width: 260px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    border: 0.2px solid black;
    opacity: 0.9;
    margin-top: 2vh;
}

.main-container > .main-title{
    font-size: 2.5em;
}


@import url(https://fonts.googleapis.com/css?family=Khula:700);

.hidden {
    opacity:0;
  }

.console-container {
   
    font-family:New Century Schoolbook, TeX Gyre Schola, serif;
    font-size:3em;
    text-align:center;
    height:100px;
    width:600px;
    display:block;
    position:relative;
    color:#205B7A;
    top:30px;
    bottom:0;
    padding-left:30px;
    right:0;
    margin:30px auto;
  }

.console-underscore {
     display:inline-block;
    position:relative;
    top:-0.14em;
    left:10px;
  }


/*-----------------End of title---------------*/

/*-----------------Introduction---------------*/
.self-introduction-section{
    background-color: white;
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
    
}

.self-intro{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;     
    color:  white;
    background-color: #239DE8;
    height:40vh;
    padding-top: 10vh;
    
}

.self-intro > h2{
    font-size: 2em;
}

/*-----------------End of Introduction---------------*/

/* Skills */
.skills-container{
    /* margin-top: 10vh; */
    color: #283e51;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    font-size: 1em;
    
    /* position: relative; */
    text-align: center;
    /* background-color: white; */
    /* background-image: url(Images/whitebgbluehexa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background */

} 

/* .skills-background{
    background-image: url(codingBackground.jpeg);
    width: 100%;
    height: 100%;            
    position: absolute;
    opacity: 0.2;
    background-repeat: no-repeat;
    background-size: 100%;
} */


.skillsElement{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;
    margin: 40px;
    border-radius: 12px;
    height: 60vh;
    
    background-color:white;
    /* background-image: linear-gradient(#d7e1ec,#ffffff); */

    border-bottom: 3px solid #005686; 
    
}

.skillsElement:hover{
    /* background-image: linear-gradient(#f5f7fa,#b8c6db);
     */
     background-color: #F7F9FB;

}

.java-logo{
    height: 70px;
    width: 70px;
    background: url(Images/java.svg);
    background-repeat: no-repeat;
}

.webdev-logo{
    height: 70px;
    width: 70px;
    background: url(Images/webdev.svg);
    background-repeat: no-repeat;
}

.db-logo{
    height: 70px;
    width: 70px;
    background: url(Images/mysql.svg);
    background-repeat: no-repeat;
}

.javaWeb-logo{
    height: 70px;
    width: 70px;
    background: url(Images/javaweb.svg);
    background-repeat: no-repeat;
}

/* .etc-logo{
    height: 70px;
    width: 70px;
    background: url(Images/etc.svg);
    background-repeat: no-repeat;
}

.email-container{
    flex-direction: row;
    display: flex;
    font-size: 18px;
}

.emaillogo>img{
    width:60px;
    height:60px;
}

.email{
    display:flex;
    justify-items: center;
    align-items: center;
    margin-left: 15px;
    font-size: 1.2em;
}


.phoneNum-container{
    font-size: 18px;
    margin-top: 20px;
    flex-direction: row;
    display: flex;
    margin-left: -80px;
}

.phonelogo>img{
    width:60px;
    height:60px;
}

.phonenumber{
    display:flex;
    justify-items: center;
    align-items:center;
    margin-left: 15px;
    font-size: 1.2em;

} */

/*-----------------End of skills---------------*/

/*------------Projects in index.html-----------*/

.projects{
   margin: 0 auto;
   background-color: #239DE8;
   width: 90vw;
   border-radius: 15px;
   height: 45vh;
}

.projects > h1{
    padding-top: 10vh;
    margin-top: 20vh;
    text-align: center;
    font-size: 2em;
    color: white;
}


.projectcontainer {
    /* border: 1em solid #fff;
    border-bottom: 4em solid #fff;
    border-radius: .25em; */
    display: flex;
    justify-content: center;
    border-radius: 15px;
    /* box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2); */
    margin: 1em auto;
    opacity: 0;
    transform: translateY(4em) ;
    transition: transform 4s .25s cubic-bezier(0,1,.3,1),
                opacity .3s .25s ease-out;
    max-width: 1000px;
    width: 95%;
    height:60vh;
    will-change: transform, opacity;
    background-color: #F7F9FB;
    
  }

  .projectcontainer.is-visible {
    opacity: 1;
    
  }

  .projectcontainer > img{
      margin: auto;
      margin-left: 3vw;
      height: 30vh;
      width: 30vw;
  }


  .projectdesccontainer{
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      
      align-items: center;
  }

  .projectdesccontainer > a > button{
      border: 1px solid ;
      border-radius: 15px;
      border-color: #239DE8;
      background-color: #239DE8;
      color: #ffffff;
      height: 2em;
  }

  .projectdesccontainer > button:hover{
      
    
    background-color: #1D83C2;
    
}




.sortingprojectcontainer {
    /* border: 1em solid #fff;
    border-bottom: 4em solid #fff;
    border-radius: .25em; */
    display: flex;
    justify-content: center;
    border-radius: 15px;
    /* box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2); */
    margin: 1em auto;
    opacity: 0;
    transform: translateY(4em) ;
    transition: transform 4s .25s cubic-bezier(0,1,.3,1),
                opacity .3s .25s ease-out;
    max-width: 1000px;
    width: 95%;
    height:60vh;
    will-change: transform, opacity;
    background-color: #F7F9FB;
    
  }

  .sortingprojectcontainer.is-visible {
    opacity: 1;
    
  }

  .sortingprojectcontainer > img{
      margin: auto;
      margin-left: 3vw;
      height: 30vh;
      width: 30vw;
  }


  .sortingprojectdesccontainer{
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      
      align-items: center;
  }

  .sortingprojectdesccontainer > a > button{
      border: 1px solid ;
      border-radius: 15px;
      border-color: #239DE8;
      background-color: #239DE8;
      color: #ffffff;
      height: 2em;
  }

  .sortingprojectdesccontainer > button:hover{
    background-color: #1D83C2;
}


/* .moreMe{
    margin: 120vh auto;
    margin-bottom: 0;
    text-align: center;
    background-color: #239DE8;
    color:white;
    width: 90vw;
    border-radius: 15px;
    height: 20vh;
} */

/*------------End of projects in index.html-----------*/


/* Footer */
footer{
    text-align: center;
}

/*-----------------End of index.html---------------*/

/*-----------------labs.html---------------*/
.main-section-lab{
    height: 100px;
    /* background-image: url(Images/macbook.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom; */
}

.labs-container{
    font-size: 1em;
    font-family: 'Lora', serif;
    margin-top: -10px;
}

.programmingQuesContainer{
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    
}

.programImage{
    background-image: url(Images/laptop_plant.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    
    width: 50vw;
    height: 30vh;
    flex:1;
}

.programInner{
    flex:1;
    display: flex;
    background-color:#F2F2F2;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.programInner > .programDescription{
    padding-left: 50px;
}

.programBtn{
    margin-top:4vh;
    
}

.programBtn > button{
    
    height: 100%;
    width: 100%;
    text-align: center;
    border-radius: 25px;
    border: 1px solid #239DE8;
    background-color: #239DE8;
    color:white;
    
}

.programBtn > button:hover{
    background-color:#1D83C2;
}

.DSAContainer{
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    
}

.DSAImage{
    background-image: url(Images/calculation.jpg);
    background-repeat: no-repeat;
    background-position:bottom;
    background-size: cover;

    width: 50vw;
    height: 30vh;
    flex:1;
}

.DSAInner{
    flex:1;
    display: flex;
    background-color:#F2F2F2;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.DSAInner > .DSADescription{
    padding-left: 50px;
}

.DSABtn{
    margin-top:4vh;
    
}

.DSABtn > button{
    border: 1px solid #239DE8;
    background-color: #239DE8;
    color:white;
    height: 100%;
    width: 100%;
    text-align: center;
    border-radius: 25px;
}   

.DSABtn > button:hover{
    background-color:#1D83C2;
}


.SrvJSPContainer{
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    
}

.SrvJSPImage{
    background-image: url(Images/web.jpg);
    background-repeat: no-repeat;
    background-position:bottom;
    background-size: cover;

    width: 50vw;
    height: 30vh;
    
    flex:1;
}

.SrvJSPInner{
    flex:1;
    display: flex;
    background-color:#F2F2F2;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.SrvJSPInner > .SrvJSPDescription{
    padding-left: 50px;
}

.SrvJSPBtn{
    margin-top:4vh;
    
}

.SrvJSPBtn > button{
    height: 100%;
    width: 100%;
    text-align: center;
    border-radius: 25px;
    border: 1px solid #239DE8;
    background-color: #239DE8;
    color:white;
}    

.SrvJSPBtn > button:hover{
    background-color:#1D83C2;
}


/*-----------------End of labs.html---------------*/

/*-----------------programming.html---------------*/
/* Popup container - can be anything you want */
/* Programming button popup */
.programbtn {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .programbtn .prgmbtnOverText {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .programbtn .prgmbtnOverText::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .programbtn .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }

  .programbtn .hide {
    visibility:hidden;
    
  }
/* End of Programming button popup */

/* DSA button popup */
  .dsabtn {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .dsabtn .dsabtnOverText {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .dsabtn .dsabtnOverText::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .dsabtn .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    
  }

  .dsabtn .hide {
    visibility:hidden;
    -webkit-animation: fadeOut 1s;
    animation: fadeOut 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
/* End of DSA button popup */

/* ServletJsp button popup */
.SrvJSPbtn {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .SrvJSPbtn .SrvJSPbtnOverText {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .SrvJSPbtn .SrvJSPbtnOverText::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .SrvJSPbtn .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    
  }

  .SrvJSPbtn .hide {
    visibility:hidden;
    -webkit-animation: fadeOut 1s;
    animation: fadeOut 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
 /* End of ServletJsp button popup */
  /* End of labs.html */


/* programming, dsa and servletjsp .html */
.programQues{
      background-color: white;
      display: flex;
      color: black;
      flex-direction: column;
      
      /* border: 1px solid red; */
}

.programQues1-container{
    border-bottom: 1px solid white;
}


.dsaQues{
    background-color: white;
    display: flex;
    flex-direction: column;
    color: black;
}

.borderBtm{
    border-bottom: 1px solid black;
}

.dsaQues1 > img{
    height: 60vh;
    width: 60vh;
}

.srvJsp{
    background-color: white;
    display:flex;
    flex-direction: column;
    color: black;
}
/* End of programming, dsa and servletjsp .html */


/*project.html*/
/* .bugreportingSystem{
    position: relative;
    height: 44vh;
    width: 100%;
    background-color: #36096d;
    background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
    overflow: hidden;
}

.bugreportSystembg{
    
    height:44vh;
    width:68vw;
    background-color: #37d5d6;
    background-image: url(Images/bugtrackinghome.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
    visibility: hidden;
    animation: all ease 0.8s;
   
}

.arrow-blue{
    width: 0;
    height: 44vh;
    border-style: solid;
    border-width: 23vh 0 23vh 10vh;
    border-color: transparent transparent transparent #37d5d6;
    display: inline-block;
    left: 100%;
    position: relative;
}


.sortingAnimation{
    position: relative;
    height: 45vh;
    width: 100%;
    background-color: #f8ceec;
    background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
    overflow: hidden;
}

.sortAnimationbg{
    
    height:45vh;
    width:68vw;
    background-color: #f8ceec;
    background-image: url(Images/sortingalgohome.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
    visibility: hidden;
    animation: all ease 0.8s;
   
}

.arrow-pink{
    width: 0;
    height: 45vh;
    border-style: solid;
    border-width: 23vh 0 23vh 10vh;
    border-color: transparent transparent transparent #f8ceec;
    display: inline-block;
    left: 100%;
    position: relative;
} */


/*End of project.html*/


/*bugtrackingProject.html*/
.project{
    background-color: white;
    color:black;
}

.project h1{
    margin-top: 0;
    padding-top:30px;
    text-align: center;
    font-size: 3em;
    
}

.use-container{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    font-size: 1.3em;
    
}

.tech-container{
    margin:auto;
}


.project-intro{
    margin-top: 10vh;
    font-size: 1.2em;
}

.bugtrackingresult{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bugtrackingresult > img{
    height:80vh;
    width:80vw;
}



/*achievments.html*/
* {box-sizing:border-box}


.achivementsbg{
    background-color: #555;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides > img{
    height:780px;
    
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: black;
  background-color: #F2F2F2;
  font-weight: 800;
  font-size: 20px;
  padding: 1px 12px;
  position: relative;
  bottom: 90px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
/* .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
} */

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*sortingAnimation.html*/
/* .back{
    position: absolute;
    top:0%;
    left:0%;
    width: 15vw;
    height:15vh;
    cursor: pointer;
    
}

.backarrow{
    position: absolute;
    top:35%;
    left:35%;
    width:40px;
    height:10px;
    background-color: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
}

.backarrow::after, .backarrow::before{
    content: '';
    position: absolute;
    width: 60%;
    height: 10px;
    left: -13px;
    background-color: #fff;
}

.backarrow::after{
    top:-7px;
    transform: rotate(125deg);
}

.backarrow::before{
    top:8px;
    transform: rotate(-125deg);
} */

.title_bg{
    border: 1px solid #f8ceec;
    background-color: #f8ceec;
    background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);

    height: 30vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title_bg > h1{
    padding-top:10vh;
    text-align: center;
    color: white;
}

.option-bars{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #a88beb;
    height: 10vh;
    
}

.algos > button{
    height: 4vh;
    border-radius: 35px;
    border: 0.1px solid #a88beb;
    background-color: #f8ceec;
    text-align: center;
}

.algos > button:hover{
    background-color: #a88beb;
}

.animationcontainer
{
    display: grid;
    grid-template-columns: 100%;
    
}  


#array_container
{
  
    display: flex;
    width: 100%;
    height:60vh;
    background-color: #a88beb;
}

.funtext{
    background-color: #a88beb;
    width:100%;
    position: fixed;
    bottom: 7vh;
    text-align: center;
}

.hide
{
    display: none;
}